## intellij files
.idea/
*.iml
*.ipr
*.iws

## project files
.project
.classpath
.settings
.pydevproject
*.sublime_session

## temporaries and build directories
*.class
*.pyc
*.swp
npm-debug.log 
local/
tmp/
bin/
build/
work/
.DS_Store
node_modules/
