[tool.pyright]
venvPath = "."
venv = ".venv"
include = [ "src/python" ]
# TODO: improve!
# typeCheckingMode = "strict"
reportUnnecessaryTypeIgnoreComment = "error"
typeCheckingMode = "basic"
reportArgumentType = "none"
reportAssignmentType = "none"
reportAttributeAccessIssue = "none"
reportCallIssue = "none"
reportGeneralTypeIssues = "none"
reportIndexIssue = "none"
reportInvalidStringEscapeSequence = "none"
# this is really important to fix
reportMissingImports = "none"
reportUnusedExpression = "none"
reportOptionalMemberAccess = "none"
reportOptionalContextManager = "none"
reportOptionalIterable = "none"
reportOperatorIssue = "none"
reportOptionalOperand = "none"
reportOptionalSubscript = "none"
reportRedeclaration = "none"

[tool.ruff]
line-length = 200
indent-width = 2

[tool.ruff.lint]
# TODO: improve!
# select = ["ALL"]

# disabling/enabling of rules
ignore = [
  # These rules are disabled because they have violations, we should fix those!
  "E402",    # Module level import not at top of file
  "E701",    # Multiple statements on one line (colon)
  "E711",    # Comparison to None should be "is None"
  "E722",    # Bare except
  "E731",    # Do not assign a "lambda" use a "def"
  "E741",    # Ambiguous variable name
  "F507",    # Wrong number of arguments to format string
  "F541",    # F-string without placeholders
  "F633",    # Use of '>>' is invalid with print function
  "F811",    # Redefinition of unused
  "F841",    # Local variable assigned but never used

  # These rules are always disabled: conflict with the formatter
  # don't enable! https://docs.astral.sh/ruff/formatter/#conflicting-lint-rules
  "W191", "E111", "E114", "E117", "D206", "D300", "Q000", "Q001",
  "Q002", "Q003", "COM812", "COM819", "ISC001", "ISC002", "E501",
]

[tool.ruff.lint.per-file-ignores]
# Constants are handled in a type-unsafe wacky way... maybe use env vars?
"src/python/constants.py" = [
#  "F405"
]
