# used by segments-to-html
graphviz
intervaltree

# used by infer-token-vectors
# FIXME: HMM this is an 800MB download?
# sentence-transformers

# used by index-chart
PyGnuplot

# linter and formatter
ruff
# type checker
basedpyright
